<% provide :title, "Update" %>
<center><h1>Update your settings and profile</h1></center>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<table class="forms">
	<tr>
	<td class="forms">
	<div class="field">
		<%= f.label :name, "Name (First and Last)" %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email, "E-mail address" %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :location, "Location (City, State)" %><br />
		<%= f.text_field :location %>
	</div>
	<div class="field">
		<%= f.label :birthday, "Birthday (format: MM/DD/YYYY)" %><br />
		<%= f.text_field :birthday %>
	</div>
	</td>
	<td class="forms">
	<div class="field">
		<%= f.label :image, "Avatar (Profile Picture)" %><br />
		<%= f.file_field :image %>
	</div>
	<div class="field">
		<%= f.label :about, "A brief statement about you" %><br />
		<%= f.text_area :about %>
	</div>
	<div class="field">
		<%= f.label :hobbies, "Your hobbies" %><br />
		<%= f.text_area :hobbies %>
	</div>
	</td>
	</tr>
	</table>
	<center>
		<p><strong>You must enter your password twice to update your settings
		</strong><br /><i>(you can also change your password this way)</i></p>	
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Password Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	</center>
	<center><div class="actions">
		<%= f.submit "Update" %>
	</div></center>
<% end %>
