<% provide :title, @user.name %>
<table class="profile">
	<tr class="profile">
		<% unless @user.avatar_file_name == nil %>
		<td class="image">
			<% user_image = image_tag @user.avatar.url(:medium) %>
			<%= link_to user_image, '#' %>	
		</td>
		<% end %>
		<td class="main">
			<h1>
				<%= @user.name %><br />
			</h1>
				<strong>Location</strong>: <%= @user.location %> | 
				<strong>Birthday</strong>: <%= @user.birthday %><br />
				<strong>About me</strong>: <%= @user.about %><br />
				<strong>Hobbies</strong>: <%= @user.hobbies %>
		</td>
		<td class="sidebar round">
			<strong><%= link_to 'Photos', '#' %></strong><br />
			<strong><%= link_to 'Private Message', '#' %></strong><br />
			<strong><%= link_to 'Other links', '#' %></strong>
		</td>
	</tr>
</table>
<table class="feedtabletest">
	<tr>
		<td class="feedtest">
			<% if @user.microposts.any? %>
				<table class="microposts">
					<%= render @microposts %>
				</table>
				<%= will_paginate @microposts %>
			<% end %>
		</td>
	</tr>
</table>
