<header>
	<%= image_tag("logo.png", alt: "The Pub") %><br />
	<nav>
		<ul>
			<% if signed_in? %>
				<li><%= link_to "Status Feed", root_path %></li>
				<li><%= link_to "Members", users_path %></li>
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<li><%= link_to "Sign out", signout_path, method: :delete %>
			<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
				<li><%= link_to "Sign up", signup_path %></li>
			<% end %>
		</ul>
	</nav>
</header>
